h1 {
    text-align: center;
    color: darkblue;
    padding: 15px;
    border-image: url("5a2411fc6003f508dd5d5b37.png");
    border: 3cm solid transparent;

}

body {
    background-image: url("Untitled-1.png"), url("5a2411fc6003f508dd5d5b37.png");
    background-repeat: no-repeat, repeat;
}

#borderimg1 { /* shit sdont work rn lol */
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(5a2411fc6003f508dd5d5b37.png) 30 round;
}

.hot {
    font-size: 40px;
    text-align: right;
    color: indigo;
}

.sexxyyy{
    font-size: 25px;
    color: yellow;
    padding: 20px;
}
a{
    font-size: 20px;
}

h2{
    text-align: center;
    font-size: 35px;
    color: magenta;
}

.hostage1{
    align-content: left;
    width: 15%;
    height: auto;
    font-size: 20px;
    color: black;
    text-shadow: 4px 4px 10px red;
}


.hostage2{
    position: relative;
    left: 500px;
    top: -665px;
    width: 15%;
    height: auto;
    font-size: 20px;
    color: black;
    text-shadow: 4px 4px 10px red;

}

.hostage3{
    position: relative;
    left: 1000px;
    top: -1330px;
    width: 15%;
    height: auto;
    font-size: 20px;
    color: black;
    text-shadow: 4px 4px 10px red;

}

.hostage4{
    position: relative;
    left: 1500px;
    top: -1968px;
    width: 15%;
    height: auto;
    font-size: 20px;
    color: black;
    text-shadow: 4px 4px 10px red;


}